# Задание 2 «Анализ ТВ рекламы»
>Существует несколько каналов привлечения новых абонентов (регистраций в личный кабинет (далее – ЛК) my.beeline.kz). Они могут самостоятельно набирать в браузере необходимую ссылку и затем регистрироваться (organic), либо они могут привлекаться с помощью рекламных кампаний (adv, например, абоненту показывается баннер, ведущий на сайт регистрации, для данных абонентов выставляется отметка adv). Так же запускаются многочисленные ТВ кампании, в результате проведения которых, к сожалению, нет возможности выставить абоненту отметку, что он зарегистрировался в результате просмотра ТВ-рекламы.
С 21.06.2015 по 11.07.2015 проводилась рекламная ТВ-кампания по привлечению новых абонентов в ЛК Beeline. Количество регистраций по дням находится в файле «Data for TV Analysis», колонка «Total».
Динамика количества регистраций абонентов, которые пришли самостоятельно расположены в колонке “Organic”, по рекламным каналам – в колонке “Adv”.
Известно, что среднестатистический абонент приносит компании 10 долларов за всю свою жизнь.

>Так же известно, что компания тратит на привлечение абонента по рекламным каналам 1долларов.
Необходимо посчитать потенциальную прибыль от рекламной кампании, если затраты на ее проведение составили 100 000 долларов

In [15]:
import pandas as pd
import pandas as pd
from pandas import  to_datetime
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import rcParams
import seaborn as sns
%matplotlib inline

In [17]:
df = pd.read_csv('Data for TV Analysis.csv')
df.head()
df['Time'] =  pd.to_datetime(df['Unnamed: 0'], format='%m/%d/%Y')
#df
df.head()

  Unnamed: 0  Organic   Adv  Total       Time
0   4/1/2015      5032  504   5536 2015-04-01
1   4/2/2015      5252  563   5815 2015-04-02
2   4/3/2015      5799  573   6372 2015-04-03
3   4/4/2015      5968  620   6588 2015-04-04
4   4/5/2015      5637  577   6214 2015-04-05

# Общая прогнозируемая прибыль от привлеченных клиентов по рекламным кампаниям

In [24]:
a = df.Adv.sum()*10
a

1058190

# Затраты на рекламную кампанию + затраты на привлечение каждого из абонетов при помощи рекламной кампании

In [25]:
b = 100000 + df.Adv.sum()*1
b

205819

# Прогнозируемая прибыль = a-b

In [23]:
a - b

852371